.footer-index {
	margin-bottom: 0;
}
.checkout-page  {
	display: flex; 
     flex-direction: column; 
     justify-content: center; 
     align-items: center; 
}
.mini-cart-box.aside-box .list-mini-cart-item {
	right: 2rem;
}
.user-login-page .box-instagram, .user-login-page .logo-brands {
	display:none;	
}

.search-form {
	display:flex;
}

/* subcription form */
.mce_inline_error {
	color:#a94442;
}
/* #mc_embed_signup_scroll {
	display:flex;
} */
.mc-field-group {
	display:flex;
}
#mce-EMAIL {
	padding: .8rem 1.5rem;
}
.mc-field-group #mc-embedded-subscribe {
	margin:0;
	padding: 1em;
    padding-right: 3.2em;
}
.contact-form input[type=text],
.contact-form input[type=date],
 .contact-form select {
    height: 40px;
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #999;
    padding: 0 20px;
    margin-bottom: 10px;
}

.profile-page table tr td{
	padding: 5px 10px;
}
