.footer-index {
	margin-bottom: 0;
}
.checkout-page  {
	display: flex; 
     flex-direction: column; 
     justify-content: center; 
     align-items: center; 
}
.mini-cart-box.aside-box .list-mini-cart-item {
	right: 2rem;
}
.user-login-page .box-instagram, .user-login-page .logo-brands {
	display:none;	
}