/* your styles go here */
#img_contain{
  border:1px solid grey;
  margin-top:10px;
  width:100px;
}
/* #file-input{ */
/*   margin-left:7px; */
/*   padding:10px; */
/*   background-color:gray; */
/* } */
#blah{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}

#blah1{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}

#blah2{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}

#blah3{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}

#blah4{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}

#blah1{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}

#blah5{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}

#blah6{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}

#blah7{
  height:100px;
  width:auto;
  display:block;
/*   margin-left: auto; */
  margin-right: auto;
  padding:5px;
}
